header {
    background: rgb(224, 169, 224);
    color: white;
    padding: 10vmin 1rem;
    text-align: center;
    margin: 0 0 8vmin 0;
  }
  header h1 {
    margin: 0;
    font-size: 5rem;
    font-size: calc(48px + (96 - 48) * ((200vw - 600px) / (1600 - 300)));
  
  }
  p {
    max-width: 600px;
    margin: 0 auto 1rem;
    padding: 0 1rem;
    text-indent: 1rem;
    font-size: xx-large;
  }
  
  
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }